@model IEnumerable<Workers>

<h2>Dolgozók szerkesztése: </h2>

<table>
    <thead>
        <tr>
            <td>Azonosító:</td>
            <td>Név:</td>
            <td>Jelenlegi munka: </td>
            <td>Tapasztalat:</td>
            <td></td>
        </tr>
        <tr>
            <td>Új dolgozó hozzáadása</td>
        </tr>
    </thead>
    <tbody>
        @foreach(var worker in Model)
        {

            <tr>
                <td>@worker.Id</td>
                <td>@worker.Name</td>
                <td>@worker.WorkId</td>
                <td>@worker.Exp</td>
                <td><a asp-action="WorkersSzerkesztes" asp-controller="admin" asp-route-id="@worker.Id"> szerkesztés </a></td>
                <td><a asp-action="NewWorkers" asp-controller="admin"> hozzáadás </a></td>
            </tr>

        }
    </tbody>
</table>