@model Lakasdr.Models.Workers


@{
    ViewData["Title"] = "Munkatársak";
}

<h3>Munkatársaink: </h3>

<form method="get">
    <select name="id" onchange="this.form.submit()" class="form-control">
        <option value="">Válassz munkatársat</option>

        @foreach (var worker in ViewBag.Workers)
        {
            if (Model != null && Model.Id == worker.Id)
            {
                <option value="@worker.Id" selected>@worker.Name</option>
            }
            else
            {
                <option value="@worker.Id">@worker.Name</option>
            }
        }
    </select>
</form>


<table>
    <thead>
        <tr>
            <td>Azonosító</td> 
            <td>Név</td>
            <td>Jelenlegi munka: </td>
            <td>Korábbi munkái:</td>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
                
                <tr>
                    <td>@Model.Id</td>
                    <td>@Model.Name</td>
                    <td>
                        @Model.WorkId 
                        <a asp-action="Munkatekintes" asp-controller="Home" asp-route-id="@Model.WorkId" >Munka megtekintése</a>
                    </td>
                    <td>@Model.Exp</td>
                </tr>
            
        }
    </tbody>
</table>
<a asp-action="Index" asp-controller="Home">Vissza</a>